<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style> 
        .greenauth{
            color: greenyellow;
            font-size: 50px;
        }
        .red{
            color: rebeccapurple;
            font-size: 50px;
        }
    
    </style>
</head>
<body>
    <div id="app">
        <!-- Vue provide a TWO WAY binding model, that is the value selected in the input is SYNCED with
        the value in the data. The input will use the default parameter value in the data, and the 
        new data captured in the input will update the parameter value in data  -->
        <h2> Demo for radio input box </h2>
        <!-- bind the input to the parameter "name" -->
        <p> Let us know your name </p>
        <input v-model="name" placeholder="type your name">
        <p>{{ fullMessage }} </p>  <br/>
        
        <h2> Demo for textarea </h2>
        <!-- bind input to selfIntroduction -->
        <p> Fill in your self introduction</p> 
        <textarea v-model="selfIntroduction" placeholder="Please fill an introduction"></textarea>
        <p> Your self introduction is: {{ selfIntroduction }} </p>  <br/>


        <h2> Demo for radio checkbox</h2>
        <input type="checkbox" id="checkbox1" v-model="agreed">
        <lable for="checkbox1"> the box is checked/agreed, {{agreed}}</lable><br/>
        
        <h2> Demo for radio button</h2>
        <input type="radio" id="radio1" value="a" v-model="option">
        <label for="radio1"> A: this is my first choice</label> <br/>
        <input type="radio" id="radio2" value="b" v-model="option">
        <label for="radio2"> B: this is my second choice </label> <br/>         
        <input type="radio" id="radio3" value="c" v-model="option">
        <label for="radio3"> C: this is my third choice </label> <br/>        
        <input type="radio" id="radio4" value="d" v-model="option">
        <label for="radio4"> D: this is my forth choice </label> <br/>
        <p>My current option: {{option}}</p>

        <h2> Demo for select</h2>
        <select v-model="option2">
            <option value="a">A: this is my first choice</option>
            <option value="b">B: this is my second choice</option>
            <option value="c">C: this is my third choice </option>
            <option value="d">D: this is my forth choice </option>
        </select>
        <p>My current option: {{option2}}</p>

        <br/>

        <a :[atr]="link">link to vuejs></a>
        <!-- this will re-render DOM based on the conditions -->
        <h3 :style="{fontSize: fontSize + 'px', color: 'red'}"> show age based on if conditions </h3>
        <h3 :style="myStyle">show age based on if conditions </h3>
        <h3 :style="{fontSize: fontSize + 'px', color: 'red'}"> show age based on if conditions </h3>
        <h3 :class="{greenauth: authorized}">show age based on authorization: authorized </h3>
        <h3 :class="{red: unauthorized}">show age based on authorization: NOT authorized </h3>
        <h4 @mouseover="age=0">  AGE {{age}}</h4>
        <p v-if="age < 30"> you are in your young age </p>
        <p v-else-if="age >= 30 && age <=70"> you are in your middle age </p>
        <p v-else="age>70"> you are in your old age </p>
        <!-- this will add stype display:none and hide the values based on conditions -->
        <h3> show age based on show syntax </h3>
        <h4>  AGE </h4>
        <p v-show="age < 30"> you are in your young age </p>
        <p v-show="age >= 30 && age <=70"> you are in your middle age </p>
        <p v-show="age>70"> you are in your old age </p>
        <h2>  The demo for add 10 to age once click </h2>
        <button @click="add10ToAge">   click, add 10 to age </button>
        <h2> The demo for FOR LOOP</h2>
        <ul>    
            <li v-for="book in books" :key="book.id">
                {{book.title}} in {{book.year}}
            </li>

            </li>
        </ul>
    </div>
    
    <script>
        const { createApp } = Vue
        createApp({
          data() {
            return {
              message: 'Hello, Welcome to my space, ',
              name: "",
              selfIntroduction: "",
              agreed: false,
              option: "a",
              color: "0",
              option2: "c",
              link: "http://www.vuejs.org",
              atr: "href",
              age: 35,
              authorized: true,
              unauthorized: true,
              books: [
                  {id: 0, title: "where is my cow?", year: 2020},
                  {id: 1, title: "Lonely farmer", year: 2022},
                ],
              fontSize: 30,
              myStyle:{
                  fontSize: 50,
                  color: 'green'
              }
            }   
            },
            methods: {
                add10ToAge: function(){
                    this.age += 10
                }
          },
        //   computered properties are cached, if message or name changed, it will be updated, otherwise it does not consume computing power
        // it is considered as parameters. Not function, not computed every time.
          computed:{
            fullMessage: function(){
                    return this.message + this.name
                }
          }
        }).mount('#app')
      </script>
    
</body>
</html>