<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        {{ message }} <br/>
        <a :[atr]="link">link to vuejs></a>
        <!-- this will re-render DOM based on the conditions -->
        <h3> show age based on if conditions </h3>
        <h4>  AGE </h4>
        <p v-if="age < 30"> you are in your young age </p>
        <p v-else-if="age >= 30 && age <=70"> you are in your middle age </p>
        <p v-else="age>70"> you are in your old age </p>
        <!-- this will add stype display:none and hide the values based on conditions -->
        <h3> show age based on show syntax </h3>
        <h4>  AGE </h4>
        <p v-show="age < 30"> you are in your young age </p>
        <p v-show="age >= 30 && age <=70"> you are in your middle age </p>
        <p v-show="age>70"> you are in your old age </p>
  
        <h2> The demo for FOR LOOP</h2>
        <ul>    
            <li v-for="book in books" :key="book.id">
                {{book.title}} in {{book.year}}
            </li>

            </li>
        </ul>
    </div>
    
    <script>
        const { createApp } = Vue
        createApp({
          data() {
            return {
              message: 'Hello Vue!',
              link: "http://www.vuejs.org",
              atr: "href",
              age: 35,
              books: [
                  {id: 0, title: "where is my cow?", year: 2020},
                  {id: 1, title: "Lonely farmer", year: 2022},
]
            }
          }
        }).mount('#app')
      </script>
    
</body>
</html>